$quiz-primaryColor: $ctaColor;

$quiz-gray: #CCCCCC;

$quiz-desktop-width: 90%;
$quiz-max-desktop-width: 1100px;
$quiz-headerHeight: 80px;

$quiz-primaryFont: 'Lato';
$quiz-secondaryFont: 'Lato';


.sh-quiz-container{
  height: 100vh;
  -webkit-transition: all .8s;
  transition: all .8s;

  *{
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $quiz-primaryFont;
  }

  span{ font-family: $quiz-primaryFont; }

  [class^="icon-"], [class*=" icon-"] {
    color: $quiz-primaryColor;
  }

  .quiz-slide:focus {outline: none;}
  .quiz-answer-btn:focus {outline: none;}

  .q-btn1{
    font-size: 18px;
    color: $quiz-primaryColor;
    border: 3px solid $quiz-primaryColor;
    font-family: $quiz-primaryFont;
    font-weight: bold;
    padding: 10px 14px;
    text-decoration: none;
    display: inline-block;

    -webkit-transition: all .25s;
    transition: all .25s;

    &:hover{
      color: white;
      background-color: $quiz-primaryColor;
    }
  }

  .q-btn2{
    font-size: 18px;
    color: white;
    border: 3px solid white;
    background-color: transparent;
    font-family: $quiz-primaryFont;
    font-weight: bold;
    padding: 10px 14px;
    text-decoration: none;
    display: inline-block;
    &:hover{
      color: $quiz-primaryColor;
      background-color: white;
    }

  }

  .progress-bar-container{
    display: none;
    width: $quiz-desktop-width;
    margin: 50px auto 0 auto;
    text-align: center;
    &.active{ display: block; }
    width: 100%;
    margin: 0;

    #dt-progress-count{
      display: none;
      font-family: $quiz-primaryFont;
      color: #000;
      span {
        font-family: $quiz-primaryFont;
        color: #000;
      }
      // @include sm {
      //   display: none;
      // }
    }
    .progress-bar-outer{
      height: 2px;
      width: 100%;
      background-color: $quiz-gray;
      position: relative;

      .progress-bar-inner{
        position: absolute;
        height: 2px;
        width: 20%;
        left: 0;
        top:0;
        background-color: $quiz-primaryColor;
      }
    }
  }

  .quiz-top{
    height: $quiz-headerHeight;
  }

  .quiz-bottom{
    height: calc(100vh - #{$quiz-headerHeight});
    overflow-y: scroll;
  }

  .opening-slide{
    .inner-opening-slide{
      height: calc(100vh - #{$quiz-headerHeight});
      min-height: 400px;
      @include sm {
        min-height: none;
      }
    }
  }

  .quiz-header{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $quiz-gray;
    display: flex;

    @include sm {
      border: none;
    }
    .header-logo{
      height: 50px;
      display: block;
      margin: 15px auto;

      @include sm {
        height: 45px;
        margin: 17.5px auto;

      }
    }

    #mobile-progress-count{
      display: none;
      float: right;
      line-height: $quiz-headerHeight;
      position: absolute;
      right: 10px;
      color: $quiz-primaryColor;
      font-family: $quiz-primaryFont;
      margin: 0;
      &.active{ display: block; }
    }
  }


  #quiz-slides{
    display: none;
    &.active{ display: block; }
    position: relative;
  }

  .sequence-slide{

    .inner-sequence-slide{
      width: $quiz-desktop-width;
      max-width: $quiz-max-desktop-width;

      margin: 10px auto 0 auto;
      display: block;
      @include sm {
        width: 100%;
      }
    }

    .question-container.is-variant{
      display: none;
      &.active{
        display: block;
      }
    }
    h2.question-prompt{
      text-align: center;
      margin: 30px 0;
      font-family: $quiz-primaryFont;
      font-size: 45px;
      line-height: 1.4;
      font-weight: bold;
      @include sm {
        width: 96%;
        margin: 0 2%;

        font-size: 24px;
        box-sizing: border-box;
        line-height: 30px;
      }
    }

    &.title-left{
      h2.question-prompt{ text-align: left;}
    }
  }

  #quiz-calculating, #quiz-complete{
    display: none;
    &.active{ display: block; }
    .inner-final-container{
      width: $quiz-desktop-width;
      max-width: $quiz-max-desktop-width;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;

      @include sm {
        padding: 15px 0;
        width: 100%;
      }
    }
  }

  //buttons container
  .answers-container{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;

    &.centered{ justify-content: center; }
    &.rows{ flex-flow: row wrap; }

    &.centered-even{ justify-content: space-between; }
    @include sm {
      width: 96%;
      margin: 30px 2% 0 2%;
    }
  }

  @keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .lds-dual-ring {
    position: relative;
    margin: 15px auto 0 auto;
    display: block;
  }
  .lds-dual-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: $quiz-primaryColor transparent $quiz-primaryColor transparent;
    -webkit-animation: lds-dual-ring 1.3s linear infinite;
    animation: lds-dual-ring 1.3s linear infinite;
  }
  .lds-dual-ring {
    width: 90px !important;
    height: 90px !important;
    -webkit-transform: translate(-45px, -45px) scale(0.45) translate(45px, 45px);
    transform: translate(-45px, -45px) scale(0.45) translate(45px, 45px);
  }
}